html {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

button {
    background-color: inherit;
    border: 0;
    border-radius: 3px;
    color: #4d4845;
    cursor: pointer;
    font-size: 0.9375rem;
}

button:hover {
    color: #000000;
}

button:active {
    color: #8a7d74;
}

.confirmation-dialog-footer {
    margin: 1rem 0;
}

.dialog {
    max-width: 98%;
    min-width: 500px;
}

dialog {
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    padding: 0;
}

dialog::backdrop {
    backdrop-filter: blur(1px);
}

.dialog-body {
    padding: 0.6rem;
    border-bottom: 1px solid #dcdcdc;
    overflow: auto;
}

.dialog-button {
    border-radius: 3px;
    flex: 1;
    height: 100%;
    padding: 0.4rem 1.5rem;
    min-width: fit-content;
}

.dialog-button:focus {
    outline: none;
}

.dialog-button-confirm {
    border: 1px solid #cd001a;
    color: #cd001a;
}

.dialog-button-confirm:hover {
    background-color: #cd001a;
    color: #ffffff;
}

.dialog-button-container {
    display: flex;
    width: 100%;
}

.dialog-button-standard {
    border: 1px solid #4d4845;
    color: #4d4845;
}

.dialog-button-standard:hover {
    background-color: #4d4845;
    color: #ffffff;
}

.dialog-footer {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 0.8rem 1rem;
}

.dialog-header {
    border-bottom: 1px solid #dcdcdc;
    padding: 0.8rem 0.8rem;
    text-align: center;
}

.dialog-header h2 {
    color: #4d4845;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.editable:hover {
    background-color: #f9f9f9;
}

.entry-point {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    overflow: auto;
}

.hovering-label[aria-label]:hover::after {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    break-inside: avoid;
    content: attr(aria-label);
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin: 0.3rem 0 0 0;
    padding: 0.2rem 0.5rem;
    pointer-events: none;
    text-align: center;
    width: max-content;
}

.insight-container {
    position: relative;
}

.insight-content[aria-label]:hover::after {
    color: #000000;
    position: absolute;
    top: 1.3rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.insight-content > span:not(:first) {
    padding-left: 1ch;
}

.branding {
    color: #4d4845;
    text-align: center;
    width: fit-content;
}

.note {
    width: 500px;
}

.note-control {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
}

.note-control[aria-label]:hover::after {
    position: absolute;
    top: 1.3rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.note-control-container {
    position: relative;
}

.note-controls {
    align-items: center;
    display: flex;
}

.note-index {
    border: 1px solid #ecebeb;
    border-radius: 3px;
    color: #4d4845;
    font-size: 0.95rem;
    margin: 0 0 0 0.2rem;
    width: 2.5rem;
    text-align: center;
}

.note-index:hover {
    color: #000000;
}

/* Chrome, Safari, Edge, Opera */
.note-index::-webkit-outer-spin-button,
.note-index::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.note-index[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.note-insights {
    color: #4d4845;
    display: flex;
    gap: 0.5rem;
}

.note-title {
    color: #4d4845;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0.6rem 0.8rem;
}

.note-title:empty::before {
    content: '\feff';
}

.note-title:focus {
    background-color: #ffffff;
    outline: none;
}

.note-title-container {
    border: 1px solid #dcdcdc;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.note-text-container {
    background-color: #ffffff;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.note-text {
    min-height: 10rem;
    padding: 0.6rem 0.8rem;
}

.note-text:focus {
    outline: none;
}

.note-toolbox-container {
    align-items: center;
    border: 1px solid #dcdcdc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0.8rem;
}

.notes-container {
    align-content: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
}

.notepad-title {
    align-items: center;
    border-radius: 6px;
    color: #4d4845;
    display: flex;
    font-size: 1.5rem;
    font-weight: normal;
    justify-content: center;
    margin: 1.3rem 2rem 1rem 2rem;
    min-height: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.notepad-title:focus {
    background-color: #ffffff;
    outline: none;
}

.toolbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

.toolbox-control {
    padding: 0;
    position: relative;
}

.toolbox-control[aria-label]:hover::after {
    position: absolute;
    top: -0.22rem;
    left: 140%;
}

.toolbox-control-container {
    margin: 0 0 3rem 0;
    position: relative;
}

.toolbox-control-container:last-of-type {
    margin: 0;
}

.toolbox-element {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 1rem;
    position: relative;
}

.toolbox-element:first-of-type {
    flex-grow: 1;
    justify-content: start;
}

.toolbox-element:last-of-type {
    flex-grow: 1;
    justify-content: end;
}

.svg-icon {
    pointer-events: none;
}

.notepad {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.notepads-viewer:modal {
    display: flex;
    width: 95%;
    max-width: 1000px;
    max-height: 80%;
    flex-direction: column;
    justify-content: space-between;
}
.viewer-control {
    align-items: center;
    display: flex;
    margin: 0 0 0 0.3rem;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
}

.viewer-control[aria-label]:hover::after {
    font-weight: normal;
    position: absolute;
    right: 100%;
    top: -0.5rem;
    z-index: 99;
}

.viewer-controls {
    display: flex;
    flex-direction: row;
}

.viewer-delete-container {
    position: relative;
}

.viewer-export-container {
    position: relative;
}

.viewer-last-update {
    color: #4d4845;
    position: relative;
    white-space: nowrap;
}

.viewer-last-update[aria-label]:hover::after {
    font-weight: normal;
    position: absolute;
    right: -65%;
    top: -0.7rem;
    z-index: 99;
}

.viewer-list-empty {
    color: #4d4845;
    font-weight: normal;
    margin: 0 1rem;
    padding: 0.5rem;
    text-align: center;
}

.viewer-list-item {
    align-items: center;
    color: #4d4845;
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
    padding: 0.8rem 0.6rem;
}

.viewer-list-item:not(:last-child) {
    border-bottom: 1px solid #ecebeb;
}

.viewer-list-item:hover {
    background-color: #f9f9f9;
}

.viewer-notepads-list {
    padding: 0.5rem 0rem;
}

.viewer-notepad-title-container {
    flex-grow: 1;
    position: relative
}

.viewer-notepad-title {
    color: #4d4845;
    cursor: pointer;
    display: block;
    margin-left: 1.3rem;
    text-align: left;
    width: 100%;
}

.viewer-notepad-title:hover {
    color: #000000;
}

.viewer-toolbox {
    align-items: center;
    color: #4d4845;
    display: flex;
    margin: 0.5rem 1rem 0rem 1rem;
}

.viewer-toolbox-control {
    display: flex;
    padding: 0;
    position: relative;
}

.viewer-toolbox-controls {
    display: flex;
}

.viewer-toolbox-control[aria-label]:hover::after {
    font-weight: normal;
    position: absolute;
    right: 140%;
    top: -0.55rem;
    z-index: 99;
}

.viewer-toolbox-control-container {
    margin: 0 0.5rem 0 0;
    padding: 0 0.4rem;
    position: relative;
}

.viewer-toolbox-search {
    border: 1px solid #ecebeb;
    border-radius: 3px;
    font-size: 0.9375rem;
    flex-grow: 1;
    padding: 0.5rem;
    outline: none;
}

.viewer-toolbox-search-container {
    display: flex;
    flex-grow: 1;
    margin: 0.3rem 1rem 0.3rem 0.5rem;
}

@media only screen and (max-width: 620px) {
    .branding {
        align-items: center;
        height: 26px;
        width: 26px;
    }

    .confirmation-dialog:modal {
        max-width: 95%;
        min-width: 80%;
    }

    .dialog-footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
    }

    .entry-point {
        flex-direction: column;
    }

    .hovering-label[aria-label]:hover::after {
        min-width: 3rem;
    }

    .insight-content[aria-label]:hover::after,
    .note-control[aria-label]:hover::after,
    .viewer-control[aria-label]:hover::after,
    .viewer-toolbox-control[aria-label]:hover::after {
        left: 50%;
        top: -4rem;
        transform: translate(-50%, 0);
        width: fit-content;
        z-index: 999;
    }

    .note {
        max-width: 98%;
        width: 500px;
    }

    .notepads-viewer:modal {
        max-width: 95%;
        min-width: 95%;
    }

    .notes-container {
        padding: 0.3rem 1rem 2rem 1rem;
    }

    .toolbox {
        background-color: #ffffff;
        border-top: 1px solid #dcdcdc;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 0.2rem 0rem;
        position: sticky;
        bottom: 0;
    }

    .toolbox-control[aria-label]:hover::after {
        left: 50%;
        position: absolute;
        top: -4rem;
        transform: translate(-50%, 0);
        width: fit-content;
        z-index: 999;
    }

    .toolbox-control > .svg-icon {
        height: 26px;
        width: 26px;
    }

    .toolbox-control-container {
        display: flex;
        margin: 0 3rem 0 0;
        position: relative;
    }

    .toolbox-control-container:last-of-type {
        margin: 0;
    }

    .toolbox-element:first-of-type {
        flex-grow: inherit;
        justify-content: inherit;
    }

    .toolbox-element:last-of-type {
        flex-grow: inherit;
        justify-content: inherit;
    }

    .viewer-controls {
        justify-content: space-evenly;
        width: 100%;
    }

    .viewer-last-update[aria-label]:hover::after {
        display: none;
    }

    .viewer-list-item {
        flex-direction: column;
        gap: 1.3rem;
        padding: 1rem 0.6rem;
    }

    .viewer-notepad-title {
        margin: 0;
        text-align: center;
    }

    .viewer-notepad-title:empty::before {
        content: '\feff';
    }

    .viewer-toolbox {
        border-bottom: 1px solid #ecebeb;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .viewer-toolbox-controls {
        justify-content: space-around;
        width: 100%;
    }

    .viewer-toolbox-search-container {
        margin: 0.3rem 1rem 0.3rem 1rem;
        width: 100%;
    }
}

@media only screen and (max-height: 421px) and (min-width: 800px) {
    body {
        min-height: 420px;
    }
}

@media print {
    .toolbox {
        display: none;
    }
}
